<div class="container-fluid" id="jumbo">
    <h1 class="display-1 text-center" id="title">Create an account.</h1>
    <hr class="my-4">
    <p class="h4 text-center" id="desc">Join our family today.</p>
</div>
<div id="form">
    <label for="name">Name:</label>
    <input id="formc" type="text" class="form-control" id="name" [(ngModel)]="name">
    <label for="name">Last Name:</label>
    <input id="formc" type="text" class="form-control" id="lname" [(ngModel)]="lname">
    <label for="name">Username:</label>
    <input id="formc" type="text" class="form-control" id="name" (change) = "onUnameChange()" [(ngModel)]="uname">
    <label for="name">Password:</label>
    <input id="formc" type="password" class="form-control" id="name" [(ngModel)]="pass">
    <label for="birth">Birthdate</label>
    <input id="formc" type="date" id="birthdate" class="form-control" [(ngModel)]="birthdate">
    <label for="sexuality">Sexuality</label>
    <select id="formc" name="" id="sexuality" class="form-control" [(ngModel)]="sexuality">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>
    <div>
        <br>
        <a [routerLink]="['/login']" routerLinkActive="active">Alredy have an account? Log in here :)</a>
    </div>
    <button (click) = "register()" class="btn-lg btn-dark">Register Account!</button>
</div>
