<div class="container-fluid" id="jumboAU">
    <h1 class="display-1 text-center" id="title">Register a New User.</h1>
    <hr class="my-4">
    <p class="h4 text-center" id="desc">This page allows you to register an user on the platform.</p>
</div>
<div style="text-align: center; margin-left: 15%; margin-right: 15%; margin-top: 5%;">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="name">
    <label for="name">Last Name:</label>
    <input type="text" class="form-control" id="lname" [(ngModel)]="lname">
    <div>
    <label for="name">Username:</label>
        <input type="text" class="form-control" id="name" (change) = "onUnameChange()" [(ngModel)]="uname">
        <label for="unamecheck" *ngIf="unameCheck != true" style="color: red;">El nombre de usuario ya se encuentra en la base de datos.</label>
    </div>
    <label for="name">Password:</label>
    <input type="password" class="form-control" id="name" [(ngModel)]="pass">
    <label for="birth">Birthdate</label>
    <input type="date" id="birthdate" class="form-control" [(ngModel)]="birthdate">
    <label for="sexuality">Sexuality</label>
    <select name="" id="sexuality" class="form-control" [(ngModel)]="sexuality">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>
    <div>
        <br>
        <a [routerLink]="['/login']" routerLinkActive="active">Alredy have an account? Log in here :)</a>
    </div>
    <label for="registercheck" *ngIf="registerCheck != true" style="color: red;">Resuelve los problemas primero</label>
    <button (click) = "register()" class="btn-lg btn-dark">Register Account!</button>
</div>
