#jumboAU {
  margin-top: 0.5rem;
  margin-bottom: 5rem;
}

#title {
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  color: #056676;
}

#l-title {
  font-family: 'Barlow', serif;
  margin-top: 5%;
  font-size: x-large;
  font-weight: bold;
  color: #056676;
}

#lg-btn {
  margin-top: 2%;
  margin-right: 2%;
  background-color: #056676;
  font-family: 'Barlow', sans-serif;
  font-size: large;
  font-weight: bold;
}
