<div class="container-fluid" id="jumbo">
    <h1 class="display-1 text-center" id="title">Products List</h1>
    <hr class="my-4">
    <p class="h4 text-center" id="desc">Add products to your cart to buy them!</p>
</div>
<div id="desc"class="container" style="text-align: center; margin-left: 15%; margin-right: 15%; margin-top: 5%;">
    <div class="row">
      <div class="col-lg-12 col-sm-12" style="margin-left: 20%;">
        <div id="product" class="row" *ngFor = "let prod of products">
            <img  id="img" class="col-lg-4" src="{{ prod.imagen }}" alt="Card image" width="10" height="300">
            <div class="col-lg-6">
                <h5><a routerLinkActive="active">{{ prod.name }}</a></h5>
                <p >Price:  ${{ prod.precio }}</p>
                <input type="number" class="form-control" [(ngModel)]="quantity" required min="1" max="{{prod.unDisp}}">
                <button class="btn btn-dark" (click)="addToCart(prod)">Add to Cart</button>
            </div>
        </div>
      </div>
    </div>
</div>
