<div class="container-fluid">
    <div class="container-lg text-center" id="title">
        Halftime Supplies
    </div>
</div>
<div class="media">
    <img src="https://www.flaticon.com/svg/static/icons/svg/2996/2996996.svg" class="mr-3" width="400" height="400" he>
    <div class="media-body">
      <h1 class="mt-0">It's a long way to the top.</h1>
      <br>
      <h3>We are the largest sports store chain in the region. 30 years of being the market leader in sports clothing, footwear, biomechanical equipment and accessories, make Half Time Supplies the favorite of sports enthusiasts and professionals.</h3>
      <br>
    </div>
  </div>
  <div class="media">
    <div class="media-body" style="padding-left:40px">
      <h1 class="mt-0 mb-1">Great sports catalog.</h1>
      <br>
      <h3>We are the online specialist for everybody who loves to sport, wants to feel fit or enjoys working out. Our large collection, specialist products and our excellent service are just a few things that are of huge importance for us. At the moment we specialize in field hockey, running, volleyball, korfball, handball, floorball, basketball and squash.</h3>
    </div>
    <img src="https://www.flaticon.com/premium-icon/icons/svg/3311/3311579.svg" class="ml-3" width="400" height="400">
  </div>
  <div class="media">
    <img src="https://www.flaticon.com/svg/static/icons/svg/3824/3824483.svg" class="mr-3" width="400" height="400" he>
    <div class="media-body">
      <h1 class="mt-0">Get the right tool for the job.</h1>
      <br>
      <h3>Explore a Wide Selection of Sports Gear, Equipment, Apparel and Footwear! Get the Top Brands at Competitive Prices.</h3>
    </div>
  </div>
