#jumbo {
  margin-bottom: 5rem;
  border: 1px solid #393e46
}

#search {
  background-color: #e8e8e8;
  color: #495464;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2rem;
  padding: 2.5rem;
  padding-left: 4rem;
  margin-right: 2rem;
}

#submit {
  background-color: #495464;
  color: #e8e8e8;
}

#table1 {
  font-family: 'Noto Sans', sans-serif;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  color: #e8e8e8;
  border-color: #e8e8e8;
}

#th {
  color: #495464;
}

#myhr {
  border: 1px solid #e8e8e8;
}

ul {
  list-style-type: none;
}
